ul,
li {
  list-style: none;
}

/* emoji 라이브러리 버튼 CSS 초기화 */
.postWrite_emoji button {
  all: unset;
}

.box_shadow {
  box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset,
    0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.page_container {
  /* 헤더 높이만큼 뺌. */
  height: calc(100% - 4vh);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* -------- */
/* 페이지 목록 */
/* -------- */

.pageList_container {
  display: grid;
  grid-template-rows: 1.2fr 2.8fr;
  height: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.pageList_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.pageList_cover_img {
  width: 10em;
  height: 10em;
  background-color: #f08bec;
  border-radius: 50%;
}

.pageList_contents {
  display: grid;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.pageList_background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageListCard_container,
.pageListCard_container_clicked,
.pageListCard_container_none {
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 3.3rem;
  margin-bottom: 8px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, rgba(139, 216, 240, 1), rgba(240, 139, 236, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

.pageListCard_container {
  opacity: 40%;
}

.pageListCard_container_none {
  visibility: hidden;
}

.pageListCard_img {
  width: 35px;
  height: 35px;
  margin: 0 10px 0 10px;
  border-radius: 50%;
  background: linear-gradient(to right, rgba(139, 216, 240, 1), rgba(240, 139, 236, 1));
}

.pageListCard_content {
  display: flex;
  flex-direction: column;
}

.pageListCard_content span::selection {
  display: none;
}

/* 페이지 목록 - 타이틀 */
.pageListCard_content > span {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageListCard_writer {
  margin-bottom: 5px;
}

.pageListCard_writer > span:nth-child(1) {
  margin-right: 10px;
  color: #f08bec;
}

.pageListCard_writer > span:nth-child(2) {
  margin-bottom: 5px;
  color: #8bd8f0;
}

.pageList_btn {
  display: flex;
  flex-direction: column;
}

.pageList_btn > button {
  margin-bottom: 10px;
}

.level-2,
.level2 {
  width: 70%;
}

.level-2 {
  transform: perspective(200px) rotateX(-15deg);
}

.level2 {
  transform: perspective(200px) rotateX(15deg);
}

.level-1,
.level1 {
  width: 80%;
}

.level-1 {
  transform: perspective(150px) rotateX(-5deg);
}
.level1 {
  transform: perspective(150px) rotateX(5deg);
}

.level0 {
  width: 90%;
}

/* -------- */
/* 페이지 내용 */
/* -------- */
.pageContent_container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 0.5em 0.5em 0.5em 0;
  box-sizing: border-box;
}

.pageContent_content {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;

  position: relative;
  background-color: white;
}

.pageContent_content > span {
  padding: 5px 10px;
}

.pageContent_content > span:nth-child(4) {
  height: 17em;
  overflow-y: scroll;
}

.pageContent_content > span:nth-child(1) {
  color: #8d8bf0;
}

.pageContent_btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

/* ---- */
/* 댓글창 */
/* ---- */

.pageComment_container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.pageComment_container > ul {
  height: 7em;
  padding-left: 0.5em;
  overflow-y: scroll;
}

/* 댓글창 container (input + button) 설정 */
.pageComment_input > div {
  height: 4em;
}

/* 댓글창 높이 수정 */
.pageComment_input > div > input {
  width: 100%;
  height: 2.5em;
}

.pageComment_container > ul > li {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.pageComment_container > ul > li {
  margin-bottom: 0.5em;
}

.pageComment_container > ul > li > span:nth-child(1) {
  color: #f08bec;
  /* margin-right: 2em; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-----------------------------------*/
.post_container {
  height: calc(100% - 4vh);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.postWrite_container {
  padding: 0.5em;
  box-sizing: border-box;
  position: relative;
}

.postWrite_contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset,
    0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.postWrite_contents span:nth-child(1) {
  color: purple;
}

.postWrite_contents textarea:nth-child(4) {
  height: 100%;
  padding: 10px;
  box-shadow: none;
  border: 1px solid #f08bec;
  border-radius: 10px;
  font-size: large;
  font-family: "DOSGothic";
  margin-bottom: 1em;
}

.postWrite_title {
  display: flex;
}

.postWrite_title span:nth-child(1) {
  font-size: 2.25em;
}

.postWrite_input input:nth-child(1) {
  width: 100%;
  margin-top: 0.4em;
  box-shadow: none;
  font-size: large;
  font-family: "DOSGothic";
}

.postWrite_emoji {
  position: absolute;
  top: 7em;
  all: none;
}

.postWriteInfo_container {
  display: grid;
  grid-template-rows: 1.2fr 2.8fr;
  padding: 0.5em;
  box-sizing: border-box;
}

.postWriteInfo_container div {
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

.postWriteInfo_cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postWriteInfo_sticker > div:nth-child(2) > button {
  width: 100%;
}

.postWriteInfo_button > button {
  width: 100%;
  margin-left: 0;
  margin-bottom: 1em;
}
