.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  place-items: center;
}

.noBtn {
  grid-column: 2 / 4;
}

.noLable {
  grid-column: 2/ 3;
}

.container label {
  font-size: 21px;
}
